<p id="notice"><%= notice %></p>

<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_url 'restaurant.jpeg' %>);">
  <div class="card-category"><%= @restaurant.category %></div>
  <div class="card-description">
    <h2><%= @restaurant.name %></h2>
    <p><%= @restaurant.address %></p>
  </div>
  <p class="card-user"> <%= @restaurant.phone_number %> </p>
</div>

<%= link_to 'Back', restaurants_path %>

<h1>Reviews</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>Rating</th>
      <th>Restaurant</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @restaurant.reviews.each do |review| %>
      <tr>
        <td><%= review.content %></td>
        <td><%= review.rating %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Review', new_restaurant_review_path(@restaurant) %>
